.navbar {
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: transparent;
  /* Fondo semi-transparente */
  color: #ffffff;
  /* Texto blanco */
  position: fixed;
  /* Fijar el navbar en la parte superior */

  top: 0;

  /* left: 0;  Asegura que el navBar está alineadoa ala izquierda */

  width: 100%;
  z-index: 1000;
  /* Asegúrate de que el navbar esté por encima del contenido */
}

.navbar-brand {
  top: 0;
  width: 40px;
  /* Tamaño del logo */
  height: 40px;
}

.nav-link {
  color: white;
}

.navbar-toggler.custom-toggler .navbar-toggler-icon {
  color: white; /* Cambia el color del ícono a blanco */
}


#menuBurguer {
  color: brown;
}

.selected {
  /* Fondo  color "aqua" para opción seleccionada del menú */
  background-color: aqua;
  /* Otros estilos que desees aplicar */
  /* color del textonegro para opción seleccionada */
  color: black;
  /* borde redondeado */
  border-radius: 10px;
}

.logo img {
  width: 40px;
  /* Tamaño del logo */
  height: 40px;
  margin-right: 10px;
  /* Espaciado entre el logo y el texto */
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: transparent;

  /* Fondo transparente */
}

.menu li {
  display: inline-block;
  margin-right: 20px;
  /* Espaciado entre elementos del menú */
}

.menu a {
  color: white;
}

/* Maquillado sección Quienes somos */
/*.container { */

#id_quienesomos {
  background-color: black;
  color: white;
  padding: 20px;
}

.card.primary-card {
  background-color: black;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
  height: 300px;
}

.card-text.grupo_1 {
  background-color: black;
  color: white;
  overflow: hidden;
  /* Oculta el exceso de texto */
  text-overflow: ellipsis;
  /* Muestra puntos suspensivos al final del texto */
}

.card-content {
  padding: 20px;
}

.card-container_1 {
  margin-left: 25px;
  /* Margen a la izquierda */
  margin-right: 25px;
  /* Margen a la derecha */
}

.icon-top,
.icon-bottom {
  background-color: #6ec6ff;
  /* celeste */
  height: 30px;
  width: 100%;
}
.icon-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.icon-bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.text-center {
  text-align: center;
}

.fw-bolder {
  font-weight: bold;
}

.display-4 {
  /* Ajusta el tamaño de letra */
  font-size: 2.5rem;
}

.mb-4 {
  /* Ajusta el margen */
  margin-bottom: 1.5rem;
}

